<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container">

    <table class="table caption-top">

        <thead class="table-primary fs-4">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Maxsulot nomi</th>
            <th scope="col">Brend</th>
            <th scope="col">Turi</th>
            <th scope="col">Hajmi</th>
            <th scope="col">Narxi</th>
            <th scope="col">Amallar</th>
        </tr>
        </thead>
        <tbody class="table-light fs-5">
        <div th:each="prod,rowStat  : ${products}">
        <tr>
            <th scope="row" th:text="${rowStat.count}">1</th>
            <td th:prId="${prod.name}" th:prFn="${prod.filename}" th:onclick="javascript:rasm(this.getAttribute('prId'), this.getAttribute('prFn'))"><img th:src="'/images/'+${prod.filename}" class="rounded" alt="..." style="width: 45px; height: 35px" data-bs-toggle="modal" data-bs-target="#exampleModal"/></td>

            <td th:text="${prod.name}"></td>
            <div th:each="brand : ${brands}">
                <div th:if="${prod.brend_id == brand.id}">
            <td th:text="${brand.name}"></td>
                </div>
            </div>
            <td th:text="${prod.category_id}"></td>
            <td th:text="${prod.capacity_id}"></td>
            <td th:text="${prod.price}"></td>
            <td class="px-0 py-1"><a href="#"><button class="btn btn-info me-3 py-0"><i class="fas fa-edit"></i></button></a><a href="#"><button class="btn btn-danger py-0"><i class="fas fa-trash-alt"></i></button></a></td>
        </tr>
        </div>
        </tbody>

    </table>

    <a href="#" class="btn btn-success me-2 px-5">Yangi</a>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="col-10 centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><img src="" id="mb">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
let a;

function rasm(mn, fn){
document.getElementById("exampleModalLabel").innerHTML = mn;

a = document.getElementById("mb");
a.width = '600';
a.src = "images/" + fn;
}


function rasm2(mn){
document.getElementById("exampleModalLabel").innerHTML = mn;
console.log(mn);
}

</script>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>